.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins
/.idea
.idea
.idea/

*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches

# Gradle files
.gradle/
build/